<div class="pages_div">
  <div class="ninehundredpx">
    <div class="pages_title">About</div>
    <div class="pages_text">
    Croton West is a visual travel guide to North America's outdoor recreation areas.
<p></p>
  We photograph and document wildlife, landscapes, and adventure, for both art and science.
<p></p>
    We're based in New York and have photographers documenting the wild places all over.
<p></p>
    If you want to work with us, check out our <%= link_to "jobs", jobs_path %> page
  </div>
</div>
</div>
