<div class="pages_div">
  <div class="ninehundredpx">
    <div class="pages_title">About</div>
    Croton West is an environmental journalism company seeking to show people the wilds of North America.
<p></p>
  We photograph and document wildlife, landscapes, and adventure for both art and science.
<p></p>
    We're based in New York and have photographers documenting the wild places all over.
<p></p>
  Check out the <%= link_to "photographers", photographers_path %>
  </div>
</div>
