

<div class="guide_title_image">
  <div class="guide_title">Badlands National Park</div>
  <div class="guide_title_location">South Dakota, USA</div>
</div>
<div class="body_squeeze guide_links">
  <div class="guide_navbar">
    <a href="#photos"><div class="guide_nav">photos</div></a>
    <a href="#activities"><div class="guide_nav">activities</div></a>
    <a href="#camping_lodging"><div class="guide_nav">camping/lodging</div></a>
    <a href="#ecology"><div class="guide_nav">ecology</div></a>
    <a href="#general_info"><div class="guide_nav">general info</div></a>
    <a href="#maps"><div class="guide_nav">maps</div></a>
  </div>



    <div class="guide_topic" id="photos">
      <br>

      <%= link_to "badlandsphotos" do %><div class="photo_gallery_link">Photos</div><%end%>





    <div class="guide_topic_title" id="activities">Activities</div>


    <p>Hiking Trails

<div id="accordion" role="tablist" aria-multiselectable="true">
    <a class="hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Door Trail <span class="mileage">0.75 miles/1.2 km</span>
    </a>
<br>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        Easy. An accessible ¼ mile boardwalk leads through a break in the Badlands Wall known as "the Door" and to a view of the Badlands. From there, the maintained trail ends. Travel beyond this point is at your own risk. Watch for drop-offs.
    </div>
    <a class="collapsed hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Window Trail <span class="mileage">0.25 miles/0.4 km</span>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        Easy. This short trail leads to a natural window in the Badlands Wall with a view of an intricately eroded canyon. Please stay on the trail.
    </div></div>
    <a class="collapsed hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Castle Trail <span class="mileage">10 miles/16 km </span>
    </a>
    <br>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        Moderate. The longest trail in the park begins at the Door and Window parking area and travels five miles one way to the Fossil Exhibit Trail. Relatively level, the path passes along some badlands formations.
    </div>
    <a class="collapsed hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Cliff Shelf <span class="mileage">0.5 miles/0.8 km </span>
    </a><br>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
       Moderate. This loop trail follows boardwalks and climbs stairs through a juniperforest perched along the Badlands Wall. A small pond occasionally exists in the area and draws wildlife, such as deer or bighorn sheep. Climbs approximately 200 feet in elevation. Please stay on the trail.
    </div>
    <a class="collapsed hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Saddle Pass <span class="mileage">.25 miles/.40 km </span>
    </a><br>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
    Strenuous. This short trail climbs up the Badlands Wall to a view over the White River Valley. The trail ends where it connects with the Castle and Medicine Root Loop Trails.
  </div>
    <a class="collapsed hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Medicine Root Loop <span class="mileage">  4 miles/6.4 km</span>
    </a><br>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">

      Moderate. This generally rolling trail connects with the Castle Trail near the Old Northeast Road and at the intersection of the Castle and Saddle Pass Trails. Trail users are provided the opportunity to explore the mixed grass prairie while enjoying views of the Badlands in the distance. Watch for cactus.
    </div>
    <a class="collapsed hikingtrail" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Fossil Exhibit Trail <span class="mileage"> 0.25 miles/0.4 km</span>
    </a>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">

      Easy. Fully accessible boardwalk trail features fossil replicas and exhibits of now extinct creatures that once roamed the area.
    </div>


    <img class="mapsize" src="<%= asset_path( 'badlandstrailmap.jpg' ) %>" />






   Backpacking
<hr>
• Permits are not currently required for overnight stays in the Badlands backcountry. Before setting out on an overnight trip contact a staff member at the Ben Reifel Visitor Center or Pinnacles Entrance Station for more information. Backcountry registers are located at the Medicine/Castle Trail Loop, Saddle Pass Trailhead, Conata Picnic Area, Sage Creek Basin Overlook, and the Sage Creek Campground.
• Topographic maps are strongly recommended and are available for purchase in the Badlands Natural History Association Bookstore.
• Twisted or fractured ankles are the most common serious injury sustained in Badlands National Park. Make sure you are wearing sturdy boots with good ankle support. The park is home to many burrowing animals. Watch your footing.
• Campfires are not allowed under any circumstances. Use a backpacking stove.
• Pets are not permitted on trails, in backcountry, or wilderness areas.
• The location of your campsite must be at least 0.5 miles from a road or trail and must not be visible from a roadway.
• There is little to no water available in the backcountry. The small amounts of water found are not drinkable or filterable due to the high sediment content. Always carry at least one gallon of water per person per day.
• All refuse must be carried out. Use the cat hole method to dispose of human waste. Dig a small hole 6 to 8 inches deep and a minimum of 200 feet from any water source. Since animals will often dig up cat holes and scatter the toilet paper, it is preferred that you pack out all toilet paper. If you must bury toilet paper, use a minimal amount and bury with at least 6 inches of soil. Strain food particles from wastewater, pack out food scraps, and scatter remaining water more than 200 feet from any stream channel.
• Check the weather forecast. Severe thunderstorms are common during the summer, so are days above 100ºF (38ºC). September and early October are the best backpacking months.





  </div>
  <div class="guide_topic" id="camping_lodging">
    <div class="guide_topic_title">Camping/lodging</div>

    <p>Cedar Pass Campground
    Located near the Ben Reifel Visitor Center, the Cedar Pass Campground has 96 level sites with scenic views of the badlands formations. Forever Resorts manages the campground. For additional information, including questions about reservations, contact the Cedar Pass Lodge.
    2016 Rates: Camping fees for up to two people are $22 per night per campsite, or $37 per night for campsites with electrical hook-ups. Each additional person is $4 per night. A dump station is available for a $1.00 per use fee. Cold running water, flush toilets, and covered picnic tables are available.
    A limited section of the campground is open during the winter months.</p>

    <p>Sage Creek Campground

    Bison often wander through this primitive campground, located on the west side of the park's North Unit, near the Badlands Wilderness Area. Access is located off of the Sage Creek Rim Road, an unpaved road that may temporarily close after winter storms and spring rains. The road provides limited turnarounds for large recreational vehicles. Camping is free of charge. Pit toilets and covered picnic tables are available, but no water is available on-site. Sites at the Sage Creek Campground are available on a first-come, first-served basis and rarely fill to capacity. A portion of the Sage Creek Campground is designated for horse use.</p>

    <p>Both campgrounds are open year-round, and camping is limited to 14 days. Due to fire danger, campfires are not permitted in either campground and collection of wood is prohibited.</p>


  </div>
  <div class="guide_topic" id="ecology">
    <div class="guide_topic_title">Ecology</div>

    The mixed-grass prairie is home to many species of animals. In Badlands National Park, scientists have observed 39 mammal species, 9 reptile species, 6 amphibian species, 206 bird species, and 69 butterfly species.
The prairie animals are well adapted to their environment. They can handle climate extremes and find protection in these vast, open spaces. Most small prairie mammals either dig burrows or invade another animal's burrow for shelter. Others hibernate or become dormant in the cold of the winter. Larger mammals may seek protection from the winter wind by taking cover in badlands canyons or in low spots such as drainages or woody draws. Some ungulates find protection in herds as they graze throughout the year.

  </div>

  <div class="guide_topic" id="general_info">
    <div class="guide_topic_title">General info</div>
    <p>The park is open to visitors all year with the exception of weather closures.</p>

    <p>Private: Non Commercial Vehicle - $15.00
Fee covers the entry of a private non commercial vehicle and its occupants for 7 days.</p>

<p>25216 Ben Reifel Road
Interior, SD 57750 </p>




  </div>
  <div class="guide_topic" id="maps">
    <div class="guide_topic_title">maps</div>
    <img class="mapsize" src="<%= asset_path( 'badlandsmap.jpg' ) %>" />
  </div>


</div>
