  <title>Contact - Croton West</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="contact_div">
  <div class="ninehundredpx">
    <div class="pages_title">Contact</div>
For all general inquiries, email <a href="#">hello@crotonwest.com</a>
<br><br>
If you want to work with us, check out our <a href="#">jobs</a> page
    <div class="pages_title">FAQ</div>



  </div>
</div>




</body>
</html>
