<head>
  <title>Contact - Croton West</title>
</head>
<body>

<div class="pages_div">
  <div class="ninehundredpx">
    <div class="pages_title">Contact</div>
For all general inquiries, email <a href="#">hello@crotonwest.com</a>
<br><br>
If you want to work with us, check out our <a href="#">jobs</a> page
    <div class="pages_title">FAQ</div>



  </div>
</div>




</body>
</html>
