<head>
  <title>Contact - Croton West</title>
</head>
<body>

<div class="pages_div">
  <div class="ninehundredpx">
    <div class="pages_title">Contact</div>
For all general inquiries, email <a href="#">hello@crotonwest.com</a>
<br><br>
If you want to work with us, check out our <%= link_to "jobs", jobs_path %> page




  </div>
</div>




</body>
</html>
