

<div class="guide_title_image">
  <div class="guide_title">Badlands National Park</div>
  <div class="guide_title_location">South Dakota, USA</div>
</div>
<div class="body_squeeze">
  <div class="guide_navbar">
    <a href="#photos"><div class="guide_nav">photos</div></a>
    <a href="#activities"><div class="guide_nav">activities</div></a>
    <a href="#camping_lodging"><div class="guide_nav">camping/lodging</div></a>
    <a href="#ecology"><div class="guide_nav">ecology</div></a>
    <a href="#general_info"><div class="guide_nav">general info</div></a>
    <a href="#maps"><div class="guide_nav">maps</div></a>
  </div>

  <div class="guide_topic" id="activities">

    <div class="guide_topic" id="photos">
      <div class="guide_topic_title">Photos</div>
    </div>


    <div class="guide_topic_title">Activities</div>

    <p>Hiking Trails
<hr>
<div class="trail_name">Door Trail</div>
0.75 miles/1.2 km (round trip)
Easy. An accessible ¼ mile boardwalk leads through a break in the Badlands Wall known as "the Door" and to a view of the Badlands. From there, the maintained trail ends. Travel beyond this point is at your own risk. Watch for drop-offs.

<hr>
<div class="trail_name">Window Trail</div>
0.25 miles/0.4 km (round trip)
Easy. This short trail leads to a natural window in the Badlands Wall with a view of an intricately eroded canyon. Please stay on the trail.
<hr>
<div class="trail_name">Notch Trail</div>
1.5 miles/2.4 km (round trip)
Moderate to strenuous. After meandering through a canyon, this trail climbs a log ladder and follows a ledge to "the Notch" for a dramatic view of the White River Valley. Trail begins at the south end of the Door and Window parking area. Watch for drop-offs. Not recommended for anyone with a fear of heights. Treacherous during or after heavy rains.
<hr>
<div class="trail_name">Castle Trail</div>
10 miles/16 km (round trip)
Moderate. The longest trail in the park begins at the Door and Window parking area and travels five miles one way to the Fossil Exhibit Trail. Relatively level, the path passes along some badlands formations.
<hr>
<div class="trail_name">Cliff Shelf</div>
0.5 miles/0.8 km (round trip)
Moderate. This loop trail follows boardwalks and climbs stairs through a juniperforest perched along the Badlands Wall. A small pond occasionally exists in the area and draws wildlife, such as deer or bighorn sheep. Climbs approximately 200 feet in elevation. Please stay on the trail.
<hr>
<div class="trail_name">Saddle Pass</div>
.25 miles/.40 km (round trip)
Strenuous. This short trail climbs up the Badlands Wall to a view over the White River Valley. The trail ends where it connects with the Castle and Medicine Root Loop Trails.
<hr>
<div class="trail_name">Medicine Root Loop</div>
4 miles/6.4 km (round trip)
Moderate. This generally rolling trail connects with the Castle Trail near the Old Northeast Road and at the intersection of the Castle and Saddle Pass Trails. Trail users are provided the opportunity to explore the mixed grass prairie while enjoying views of the Badlands in the distance. Watch for cactus.
<hr>
<div class="trail_name">Fossil Exhibit Trail</div>
0.25 miles/0.4 km (round trip)
Easy. Fully accessible boardwalk trail features fossil replicas and exhibits of now extinct creatures that once roamed the area. </p>


  </div>
  <div class="guide_topic" id="camping_lodging">
    <div class="guide_topic_title">Camping/lodging</div>

    <p>Cedar Pass Campground
    Located near the Ben Reifel Visitor Center, the Cedar Pass Campground has 96 level sites with scenic views of the badlands formations. Forever Resorts manages the campground. For additional information, including questions about reservations, contact the Cedar Pass Lodge.
    2016 Rates: Camping fees for up to two people are $22 per night per campsite, or $37 per night for campsites with electrical hook-ups. Each additional person is $4 per night. A dump station is available for a $1.00 per use fee. Cold running water, flush toilets, and covered picnic tables are available.
    A limited section of the campground is open during the winter months.</p>

    <p>Sage Creek Campground

    Bison often wander through this primitive campground, located on the west side of the park's North Unit, near the Badlands Wilderness Area. Access is located off of the Sage Creek Rim Road, an unpaved road that may temporarily close after winter storms and spring rains. The road provides limited turnarounds for large recreational vehicles. Camping is free of charge. Pit toilets and covered picnic tables are available, but no water is available on-site. Sites at the Sage Creek Campground are available on a first-come, first-served basis and rarely fill to capacity. A portion of the Sage Creek Campground is designated for horse use.</p>

    <p>Both campgrounds are open year-round, and camping is limited to 14 days. Due to fire danger, campfires are not permitted in either campground and collection of wood is prohibited.</p>


  </div>
  <div class="guide_topic" id="ecology">
    <div class="guide_topic_title">Ecology</div>
  </div>

  <div class="guide_topic" id="general_info">
    <div class="guide_topic_title">General info</div>
    <p>The park is open to visitors all year with the exception of weather closures.</p>

    <p>Private: Non Commercial Vehicle - $15.00
Fee covers the entry of a private non commercial vehicle and its occupants for 7 days.</p>

<p>25216 Ben Reifel Road
Interior, SD 57750 </p>




  </div>
  <div class="guide_topic" id="maps">
    <div class="guide_topic_title">maps</div>
  </div>


</div>
