
<div class="story_pages_title">Guides</div>
<a href="#"><div class="story">
  <div class="story_title">Guide Title</div>
</div></a>

<a href="#"><div class="story">
  <div class="story_title">Guide Title</div>
</div>
</a>

<a href="#"><div class="story">
  <div class="story_title">Guide Title</div>
</div>
</a>

<a href="#"><div class="story">
  <div class="story_title">Guide Title</div>
</div>
</a>


</div>
</div>
