
<div class="body_squeeze">

<div class="story_pages_title">Guides</div>

<a class="story_link", href="#"><div class="story">
  Guide Title
</div></a>

<a class="story_link", href="#"><div class="story">
  Guide Title
</div></a>

<a class="story_link", href="#"><div class="story">
  Guide Title
</div></a>


</div>
