
<div class="body_squeeze">

<div class="story_pages_title">Guides</div>

<%=link_to "badlands" do %>
  <div class="photo_gallery_link">Badlands National Park</div>
<%end%>



<a href="#"><div class="story">
  Guide Title
</div></a>



<a href="#"><div class="story">
Guide Title
</div>
</a>

<a href="#"><div class="story">
  Guide Title
</div>
</a>


</div>
