
<div class="story_pages_title">Guides</div>
<a href="#"><div class="story">
  Guide Title
</div></a>

<a href="#"><div class="story">
  Guide Title
</div>
</a>

<a href="#"><div class="story">
Guide Title
</div>
</a>

<a href="#"><div class="story">
  Guide Title
</div>
</a>


</div>
</div>
