<div class="pages_div">
  <div class="ninehundredpx">
      <div class="pages_title">Jobs</div>
<div class="pages_text">
We are constantly on the search for nature photographers to contribute to our site. The form to join
our talent list can be found <a href="https://docs.google.com/forms/d/1G4e9hizrwYDJiMkRYACcehFxrY4QJWQID-sbOHi6XNo/viewform">here</a>.
<p></p>
Other than photographers, we love to work with anybody who is talented and passionate about the outdoors.
Send us an email and let us know what you've got in mind at <a href="mailto:hello@crotonwest.com">hello@crotonwest.com</a>.
</div>

  </div>
</div>
