
<div class="ninehundredpx photog_div">
    <div class="pages_title photographers_title">Photographers</div>
    <div class="photog">
      <div class="photog_img">img</div>
        <div class="photog_details">
          <div class="photog_name">Alex Beer</div>
          <div class="photog_location">New York</div>
          <div class="photog_description">founder of croton west</div>
          <div class="photog_social"><a href="#">alexanbeer</a></div>
          <div class="photog_website"><a href="#">alexbeer.org</a></div>
          <div class="photog_stories"><a href="#">galleries</a></div>
        </div>
    </div>
    <div class="photog">
      <div class="photog_img">img</div>

    </div>
    <div class="photog">
      <div class="photog_img">img</div>

    </div>
    <div class="photog">
      <div class="photog_img">img</div>

    </div>



</div>
