
<div class="body_squeeze">

  <div class="story_pages_title">Stories</div>

  <a class="story_link", href="#"><div class="story">
    Night Hike Through Colorado's Dunes
  </div></a>

  <a class="story_link", href="#"><div class="story">
    Aerial Footage of Alaska's Great Migration
  </div>
  </a>

  <a class="story_link", href="#"><div class="story">
    Driving Northern Maine's Logging Roads
  </div>
  </a>

</div>
</div>
