
<div class="story_pages_title">Stories</div>
<a href="#"><div class="story">
  Story Title
</div></a>

<a href="#"><div class="story">
Story Title
</div>
</a>

<a href="#"><div class="story">
  Story Title
</div>
</a>

<a href="#"><div class="story">
Story Title
</div>
</a>


</div>
</div>
