<p id="notice"><%= notice %></p>

<%= image_tag @gallery.image.url %>

<p>
  <strong>Description:</strong>
  <%= @gallery.description %>
</p>

<!--%= link_to 'Edit', edit_galleries_path(@galleries) %> | -->
<!--%= link_to 'Back', galleries_path %> -->
