
.filterSection li {
    display: inline;
    list-style: none;
}
.filterSection {
    background-color: #EEEEEE;
    font-family: helvetica;
}
#itemsToFilter li {
    list-style: none;
    background-position: 0 3px;
    background-repeat: no-repeat;
    font-size: 25px;
    color: #666;
}
.showItem {
    display: list-item;
}
.hideItem {
    display: none;
}
.discover_tool{
  width:700px;
  margin:auto;
}
.check_label{
  display: inline-table;
}
