// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main_div{
  background-color:white;
  height:900px;
  min-height:630px;
  width:100%;
}
#banner{
  padding-top: 100px;
  height:300px;
  font-family: 'Raleway', sans-serif;
  font-size:35px;
  margin:auto;
  margin-bottom: 40px;
  background-color:#89B2BB;
  color:white;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.sub_banner{
  height:50px;
  font-size:20px;
  margin-bottom:40px;
  margin:auto;
  text-align: center;
  line-height:120px;
}

.map{
  height:500px;
  width:910px;
  margin:auto;
  color:white;
  margin-top:30px;
}
.featured_head{
  border-top:1px solid rgba(240,240,240,1.0);
  width:80%;
  min-width:910px;
  max-width: 1100px;
  text-align: left;
  font-size:30px;
  height:120px;
  line-height: 120px;
  margin:auto;
}
.featured{
  margin:auto;
  width:80%;
  min-width:910px;
  max-width: 1100px;
  margin-bottom:60px;
  height:750px;

}
.featured img{
  width:48%;
  display:inline-block;
  float:left;
  margin-bottom:40px;

}
.featured img:hover{
  opacity:.9;

}
.right{
  margin-left:4%;
}
.pages_div{
  height:700px;
  background-color:#89B2BB;
}
.ninehundredpx{
  height:700px;
  width:80%;
  min-width:910px;
  max-width: 1100px;
  margin:auto;
  color:white;
  font-family: raleway;
  font-size:20px;
}
.pages_text{
width:800px;
}
.ninehundredpx a{
  color:white;
  text-decoration: underline;
}
.pages_title{
  height:100px;
  width:400px;
  color:white;
  line-height: 100px;
  font-size:24px;
  font-weight: lighter;
}
.photographers_title{
  color:black;
}
.photog{
  width:910px;
  height:140px;
  margin:auto;
  border-bottom:1px solid teal;
  margin-bottom:20px;
  color:black;
}
.photog_img{
  float:left;
  width:200px;
  height:140px;
  background-color:rgba(230,230,230,.6);
  color:black;
}
.photog_div{
  height:900px;
}
.photog_details{
  float:right;
  width:700px;
  margin-left:10px;
}
.photog_details a{
  color:teal;
}
.photog_name{
height:40px;
width:100px;
float:left;
font-weight: bold;
}
.photog_description{
font-size:16px;
}
.photog_location{
font-size:18px;
height:40px;
line-height:26px;
}
.photog_social{
font-size:16px;
}
.photog_stories{
  font-size:16px;
}
.photog_website{
  font-size: 16px;
}
