
<a class="fragment">
    <div class="fragment_message">WELCOME! THIS IS CURRENTLY A HUGE WORK IN PROGRESS. CHECK BACK FOR
      FREQUENT UPDATES!
<span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>
  x</span>

</div>
</a>
