
<a class="fragment">
    <div class="fragment_message">Welcome! This is currently a huge work in progess. Check
      back for frequent updates!

    
<span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>
  x</span>

</div>
</a>
