
<a class="fragment">
    <div class="fragment_message">Welcome! Please note that this is currently a work in progess. Check
      back for frequent updates!


<span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>
  x</span>

</div>
</a>
