
<a class="fragment">
    <div class="fragment_message">WELCOME! YOU ARE VIEWING AN EARLY VERSION OF CW. THIS IS A WORK IN PROGRESS. STAY TUNED FOR
      FREQUENT UPDATES
<span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>
  x</span>

</div>
</a>
