<div id="navbar">
  <div class="navbar_squeeze">
      <div id="logo"><%= link_to "Croton West", root_path =%></div>

      <a href="#"><div class="navs">discover</div></a>
      <%= link_to stories_path do %><div class="navs">stories</div> <% end %>
      <%= link_to guides_path do %><div class="navs">guides</div> <% end %>

  </div>
</div>
