<div id="navbar">
  <div class="navbar_squeeze">
      <div id="logo"><%= link_to "CrotonWest", root_path =%></div>
      <a href="#"><div class="navs">stories</div></a>
      <a href="#"><div class="navs">guides</div></a>

  </div>
</div>
